.card {
  width: 260px;
  background: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
